li {
    
    display: inline;
        
}

#menu {
    
    text-align: center;
    opacity: 100
     
}

#menu a {
    
    display: inline-block;
    color: black;
    width: 9%;
    height: ;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    
}

.main {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:none;

}

#head {
    
    color: #00DDD8 !important;
    font-weight: 500;
    font-size: 40px;
    
}

#head:visited {
    
    color: #00DDD8 !important;
    font-weight: 500;
    font-size: 40px;
    
}