html *{
    
    font-family: 'Roboto', sans-serif;
    
}

#menu a:hover, a:visited:hover {
    
    color: #00DDD8;
}

a:link, a:visited {
    
    color: Black;
    
}


a:visited:hover {
    
    color: #00DDD8;
    
}

#intro{
    
    text-align: center;
    
}

.dice {
    
    position: relative;
    display:block;
    vertical-align: middle;
    margin-left: auto;
    margin-right:auto;
    top: 50%;
    height: 40%;
    width: 40%;
    transform: translateY(50%)
    
}

#forms {
    
    margin:auto;
    width: 60%;
    border: 0px solid black;
    padding 10px;
    align-content: center;
}

#form {
    
    right:50%;
    
}

.btn {
    
  color: #ffffff;
  border-radius: 13px;
  font-size: 12px;
  background: #00DDD8;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    
}

.btn:hover {
    
  background: #17ebe4;
  text-decoration: none;
    
}