html *{
    
    font-family: 'Roboto', sans-serif;
    
}

a:link, a:visited {
    
    color: Black;
    
}


a:visited:hover {
    
    color: #00DDD8;
    
}

.about {
    
    position: absolute;
    top: 40%;
    left: 46%;
    
}

.dice {
    
    position: relative;
    display:block;
    vertical-align: middle;
    margin-left: auto;
    margin-right:auto;
    top: 50%;
    height: 40%;
    width: 40%;
    transform: translateY(50%)
    
}

