li {
    
    display: inline;
}

#menu {
    
    text-align: center;
    opacity: 100; 
    -webkit-animation: fadein 0s !important; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s !important; /* Firefox < 16 */
    -ms-animation: fadein 1s !important; /* Internet Explorer */
    -o-animation: fadein 1s !important; /* Opera < 12.1 */
    animation: fadein 0s !important;

}

#menu a {
    
    display: inline-block;
    color: black;
    width: 20%;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    line-height: 
    
}

#menu a:hover, a:visited:hover {
    
    color: #00DDD8;
}

.main {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:none;

}

#head {
    
    color: #00DDD8 !important;
    font-weight: 500;
    font-size: 40px;
    position: relative;
    right:
    
}

#head:visited {
    
    color: #00DDD8 !important;
    font-weight: 500;
    font-size: 40px;
    

