.forms {
   
    right:50%;
    margin: auto;
    width: 10%;
    border: 0px solid black;
    
}


#submit-btn {
    
  color: #ffffff;
  font-size: 12px;
  background: #00DDD8;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    
}

#submit-btn:hover {
    
  background: #17ebe4;
  text-decoration: none;
    
}
